Chuck Esterbrook <echuck@mindspring.com> echuck <echuck>
Ian Bicking <ian@ianbicking.org> ianbicking <ianbicking>
Jean-Baptiste Quenot <jbq@caraldi.com> Jean-Baptiste Quenot <jbq@nomao.com>
Mike Orr <sluggoster@gmail.com> hierro <hierro>
R. Tyler Croy <tyler@monkeypox.org> R. Tyler Ballance <tyler@monkeypox.org>
R. Tyler Croy <tyler@monkeypox.org> R. Tyler Ballance <tyler@slide.com>
Shannon JJ Behrens <jjinux@gmail.com> jjinux <jjinux>
Tavis Rudd <tavis@damnsimple.com> tavis_rudd <tavis_rudd>
