global-include *.py *.rst *.txt
include .travis.yml CHANGES CHANGES.old LICENSE MANIFEST.in README.markdown TODO tox.ini
recursive-include cheetah *.tmpl *.h *.c
recursive-include bin *
include www/Makefile www/rebuild
recursive-include www *.css *.html *.js *.gif *.png
prune www/_build
