body {
    background-color: black;
    padding-bottom: 20px;
    color: #000033;
    font-family: verdana, "Lucida Grande", arial, helvetica, sans-serif;
}

.banner {
    padding: 0px;
    margin: 0px;
    /* background-color: red; */
}
.banner img {
    padding: 0px;
    margin: 0px;
    border: 0px solid blue;
    vertical-align: bottom;
}

img.bannerText {
    padding-left: 35px;
}

h1 {
}
h1.mainText {
    margin: 7px 2px; 
    font-weight: bold; 
    font-size: small;
}

p, .mainText {
    margin-left: 5px;
}
div.pageOuterWrapper {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

div.pageInnerWrapper0 {
}

div.pageInnerWrapper1 {
    text-align: left;
    border: 1px solid #6699FF;
    background-color: #3366CC;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

div.pageInnerWrapper2 {
    border: 1px solid #6699FF;
    background-color: #6699FF;
    padding: 0px;
}

div.pageInnerWrapper3 {
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    border-left: 0px solid #222;
    background-color: white;

    background:
      url("images/bottom_plus_leftcorner_border_shadow.gif")
      white repeat-x top left;
    padding-top: 7px;
}

html>body div.pageInnerWrapper3 {
    border-top: 0px solid black;
    background:
      url("images/bottom_border_shadow.gif")
      white repeat-x top;
    padding-top: 8px;
}

/* ie6 ignores this selector */
div.pageInnerWrapper3:before {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    background:
      url("images/leftcorner_border_shadow.gif")
      white repeat-y left;
    position: absolute;
    top: 0;
    right: 0;
    margin: -8px 0 0 0px;
    border: 0px;
    background-position: right top;
}


div.pageInnerWrapper4 {
    background-color: white;
    background:
      url("images/right_border_shadow.gif")
      white repeat-y left;
    padding-left: 8px;
}

div.pageInnerWrapper5 {
    background-color: white;
    padding: 15px;
    padding-top: 7px;
    padding-left: 7px;
}

html>body div.pageInnerWrapper5 {
    /*
    background:
      url("images/left_border_shadow.gif")
      white repeat-y right;
    */
}


.navBarContainer {
    color: white; 
    padding: 4px 0px;
}

.navBar, a.navBar:link, a.navBar:visited {
    text-decoration: none; 
    font-weight: bold; 
    font-size: small; 
    font-size: 12px; 
    color: white;
}

a.navBar:hover, a.navBar:active {
    text-decoration: underline;
}

a.navBar.activePage {
    color: #FFFF88;
    text-decoration: none;   
}


span.navBarSep {
    color: #6699FF;
    padding-left: 12px;
    padding-right: 12px;
}


div.homePageUtilLinks {
    margin-top: 22px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

div.homePageUtilLinks span.sep {
    color: #999;
    padding-left: 12px;
    padding-right: 12px;
}

div.homePageQuotes {		   
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

div.quote {
    font-size: 14px;
    font-family: georgia, "Times New Roman", serif;
    padding-top: 8px;
    padding-bottom: 8px;
}

div.citation {
    padding-top: 8px;
    color: #A69E8A;
}

span.quote {
  color: #333; 
}
a.quotesLink, a.quotesLink:link, a.quotesLink:visited {
    color: #A69E8A;
}

div.homePageDownloadBar {		   
    border-top: 1px solid #c1c5c9;
    border-left: 1px solid #c1c5c9;
    border-bottom: 1px solid #717579;
    border-right: 1px solid #717579;
    background-color: #f9f9f9;
}

div.homePageDownloadBarInner {		   
    border: 1px solid white;
    background-color: #f0f0f0;
    padding: 8px;
}



.attributionFooter {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 11px; 
    color: #666;
}

.copyrightFooter {
    font-size: 12px; 
    color: #ccc;
}
.sourceforgeFooter {
    padding-top: 20px;
    font-size: 11px; 
    color: white;
}
.insetBoxTitleContainer {
    padding: 2px 5px; 
    font-weight: bold; 
    color: white;
}

.insetBoxTitle {
    text-decoration: none; 
    font-weight: bold; 
    font-size: x-small; 
    color: white;
}

.insetBoxContainer {
    padding: 2px 2px 2px 5px;
}

.insetBox {
    font-size: x-small;
}

h1.insetBox {
   margin: 5px 5px; 
   font-weight: bold; 
   font-size: x-small; 
   padding: 0px;
}

p.insetBox {
    margin: 2px 5px 7px 10px; 
    padding: 0px;
}

a.insetBox:link, a.insetBox:visited {
    text-decoration: none; 
    font-size: x-small;
}
a.insetBox:hover, a.insetBox:active {
    text-decoration: underline;
}
.listItems {
    margin-bottom: 200px;
}

ul.topLevel > li {
    margin-bottom: 8px;
}
