#extend SiteTemplate

##============================================================================##
#data

#end data
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine locationBarContents
            <A CLASS="locationBar" HREF="index.html">Home</A>&nbsp;&gt;&nbsp; 
	    <A CLASS="locationBar" HREF="download.html">Download Cheetah</A>
#end redefine locationBarContents
## from WebwareSiteTemplate
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine mainContentsCell

<P>
<A HREF="Downloads/Cheetah-LATEST.tar.gz">Here</A> is the current Cheetah
release (0.9.6).

<P>
And <A HREF="Downloads/">here</A> are all the recent Cheetah releases.

#end redefine mainContentsCell
## from WebwareSiteTemplate
##============================================================================##
