#from SiteTemplate import SiteTemplate
#extends SiteTemplate
#implements writeMainContentsCell


<P>
You can download Cheetah releases from our <A
HREF="http://sourceforge.net/project/showfiles.php?group_id=28961">SourceForge
project page</A>.  You only need to download a single file from those
listed.  Look for the most recent release and select the file with the
highest alpha/beta rating (e.g. lowest to highest: a1, a2, b1, b2).


<P>You can also get the current development version of
Cheetah from our <A
HREF="http://sourceforge.net/cvs/?group_id=28961">CVS
repository</A>.


<P>
The most recent release was 0.9.9a1.  It will be followed by a series
of beta releases and finally the 0.9.9 production release.  We will
use the 0.9.9 series to make any final changes before the big 1.0
release.

<P> Here's an <A HREF="Downloads/">archive</A> of older Cheetah
releases from our pre-SourceForge days.

################################################################################
## reimplement a few other methods from SiteTemplate
#def writeLocationBarContents
<A CLASS="locationBar" HREF="index">Home</A>&nbsp;&gt;&nbsp; 
<A CLASS="locationBar" HREF="download">Download Cheetah</A>
#end def 
################################################################################
