#from SiteTemplate import SiteTemplate
#extends SiteTemplate
#implements writeMainContentsCell

<P>
<A HREF="Downloads/Cheetah-LATEST.tar.gz">Here</A> is the current Cheetah
release (0.9.6).

<P>
And <A HREF="Downloads/">here</A> are all the recent Cheetah releases.

################################################################################
## reimplement a few other methods from SiteTemplate
#def writeLocationBarContents
<A CLASS="locationBar" HREF="index">Home</A>&nbsp;&gt;&nbsp; 
<A CLASS="locationBar" HREF="download">Download Cheetah</A>
#end def 
################################################################################
