#from SiteTemplate import SiteTemplate
#extends SiteTemplate
#implements writeMainContentsCell

	<P>The Cheetah Users' Guide is available in the following formats:<BR>
	<A HREF="Downloads/users_guide_html/"><B>Single-page HTML</B></A><BR>
	<A HREF="Downloads/users_guide_html_multipage/"><B>Multi-page HTML in sections</B></A><BR>
	<A HREF="Downloads/users_guide.pdf"><B>PDF</B></A><BR>
	<A HREF="Downloads/users_guide.ps"><B>PostScript</B></A><BR>
	<A HREF="Downloads/users_guide.txt"><B>Plain Text</B></A><BR>
	</P>
	<P>Note: it is currently incomplete and under-construction.</P>

################################################################################
## reimplement a few other methods from SiteTemplate

#def writeLocationBarContents
            <A CLASS="locationBar" HREF="index">Home</A>&nbsp;&gt;&nbsp; 
	    <A CLASS="locationBar" HREF="learn">Learn</A>
#end def 
################################################################################


