#from Cheetah.Templates.SkeletonPage import SkeletonPage
#extends SkeletonPage
##################################################################################
#def navDivider
$spacer(35)|$spacer(35)
#end def

#attribute Python = '<A HREF="http://www.python.org">Python</A>'
##################################################################################

##################################################################################
#settings python

title = "Cheetah - The Python-Powered Template Engine"
siteDomainName = "cheetahtemplate.sourceforge.net"
siteCopyrightName= "The Cheetah Development Team"

bodyTagAttribs = {"bgcolor": "black",
                  "text":"#000033", #333333
                  }

navBar = {"bgcolor":"#3366CC", #EBEBEB #E0E0E0
          }

locationBar = {"bgcolor":"#3366CC", #EBEBEB #E0E0E0
               "border": {"color":"#CCCCCC",
                         },
              }

mainTbl = {"width":"90%",
           "align":"center",
           "contentsBgColor":"white",
           "outerBorder": {"color":"#6699FF",#FFC850 #BDD4F1
                           },
           "innerBorder": {"color":"black",
                           },
           "frame": {"color":"#3366CC", #0059B2
                     "width":8,
                     },
           }

insetBoxes = {"width":170,
              "frameColor":"#DDDDDD", #000033
              "titleFrameColor":"black", #000033
              "bgcolor":"#FAFAFA",
              }


_sanSerifFonts = """helvetica, arial, "lucida sans", sans-serif"""

stylesheets = {
  "H1.mainText": {"margin":"7px 2px",
                  "font-size":"small",
                  "font-weight":"bold",
                  "font-family": _sanSerifFonts,
                  },
  "P, .mainText": {"margin-left":"10px"},
  
  ".navBarContainer": {"padding": "4px 0px", "color":"white"},
  ".navBar, A.navBar:link, A.navBar:visited": {"font-size":"small",
                                               "font-weight":"bold",
                                               "color":"white",
                                               "text-decoration":"none",
                                               "font-family": _sanSerifFonts,
                                               },
  "A.navBar:hover, A.navBar:active": {"text-decoration":"underline"},
  
  ".locationBarContainer": {"padding": "2px 10px"},
  ".locationBar, A.locationBar:link, A.locationBar:visited": {"font-size":"x-small",
                                                              "color":"#666666",
                                                              "text-decoration":"none",
                                                              "font-family": _sanSerifFonts,
                                                              },
  "A.locationBar:hover, A.locationBar:active": {"text-decoration":"underline"},

  ".copyrightFooter": {"color":"white", "font-size":"9pt"},

  ".insetBoxTitleContainer":{"padding": "2px 5px",
                             "color":"white",
                             "font-weight":"bold",
                             },
  ".insetBoxTitle":{"color":"white",
                    "font-size":"x-small",
                    "font-weight":"bold",
                    "text-decoration":"none",
                    "font-family": _sanSerifFonts,
                    },
  ".insetBoxContainer":{"padding": "2px 2px 2px 5px"},
  ".insetBox":{"font-size":"x-small",
               "font-family": _sanSerifFonts,
               },
  "H1.insetBox":{"margin": "5px 5px",
                 "padding": "0px",
                 "font-size":"x-small",
                 "font-weight":"bold",
                 "font-family": _sanSerifFonts
                 },
               
  "P.insetBox":{"margin": "2px 5px 7px 10px",
                "padding": "0px",
                "font-family": _sanSerifFonts
                },
  "A.insetBox:link, A.insetBox:visited":{"font-size":"x-small",
                                         "text-decoration":"none",
                                         },
  "A.insetBox:hover, A.insetBox:active": {"text-decoration":"underline"},
  
  ".listItems": {"margin-bottom":"200px"},
  }
  
stylesheetsOrder = ["H1.mainText",
                     "P, .mainText",
                     ".navBarContainer",
                     ".navBar, A.navBar:link, A.navBar:visited",
                     "A.navBar:hover, A.navBar:active",
                     ".locationBarContainer",
                     ".locationBar, A.locationBar:link, A.locationBar:visited",
                     "A.locationBar:hover, A.locationBar:active",
                     ".copyrightFooter",
                     ".insetBoxTitleContainer",
                     ".insetBoxTitle",
                     ".insetBoxContainer",
                     ".insetBox",
                     "H1.insetBox",
                     "P.insetBox",
                     "A.insetBox:link, A.insetBox:visited",
                     "A.insetBox:hover, A.insetBox:active",
                     ".listItems",
                     ]

#end settings
##################################################################################

#cache id='topOfPage'

#####################
#block writeHeader
<div align="center"><img src="cheetah-face-black-medium.jpg" alt="" />$spacer(35)<img src="banner_text.gif" 
    alt="Cheetah: The Python-Powered Template Engine" /></div>                   
#end block 
#####################


<table align=$mainTbl.align border="0" cellpadding="0" cellspacing="0" width=$mainTbl.width>
  <tr>
    <td width="1" height=1 bgcolor="$mainTbl.outerBorder.color">$spacer</td>
  </tr>
  <tr>
    <td>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	    <td width="900"> ## force to full width in Netscape
	    ##############
	    #block writeNavBar
	    <table width="100%" bgcolor="$navBar.bgcolor" border="0" cellpadding="0" cellspacing="0">
	      <tr>
		<td>
		    <div align="center" class="navBarContainer">
		    <A class="navBar" HREF="index">Home</A>$navDivider
		    <A class="navBar" HREF="learn">Learn</A>$navDivider
		    <A class="navBar" HREF="download">Download</A>$navDivider
		    <A class="navBar" HREF="contribute">Contribute</A>
		    </div>
		</td>
	      </tr>
	    </table>
	    #end block writeNavBar
	    ##############

	    </td>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
          </tr>
        </table>
     </td>
  </tr>
  <tr>
    <td>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	    <td width=$mainTbl.frame.width bgcolor="$mainTbl.frame.color">$spacer</td>
	    <td width="900" bgcolor="$mainTbl.innerBorder.color">$spacer</td> 
	    <td width=$mainTbl.frame.width bgcolor="$mainTbl.frame.color">$spacer</td>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	  </tr>
        </table>

    </td>
  </tr>
  <tr>
    <td>
	<table Valign="top" border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	    <td width=$mainTbl.frame.width bgcolor="$mainTbl.frame.color">$spacer</td>
	    <td width="1" bgcolor="$mainTbl.innerBorder.color">$spacer</td>
    
	    <td width="900" bgcolor="$mainTbl.contentsBgColor">

#end cache

	    ###################
	    #cache id='locationBar'
	    #block writeLocationBar
	    <table width="100%" bgcolor="#EBEBEB" border="0" cellpadding="0" cellspacing="0">
	      <tr>
		<td>
		    <div class="locationBarContainer">
		    ###################
		    #block writeCrumbs
		    <A class="locationBar" HREF="index">Home</A>&nbsp;&gt;&nbsp; 
		    <A class="locationBar" HREF="download">Download</A>
		    #end block
		    ###################
		    </div>
		</td>
	      </tr>
	      <tr>
		<td height="1" bgcolor="$locationBar.border.color">$spacer</td>
	      </tr>
	    </table>
    
	    #end block writeLocationBar
	    #end cache
	    ###################

    
	    ######################
	    #block writeMainTblContents

	    $spacer(1,25)
    
	    <table Valign="top" width="100%" border="0" cellpadding="10" cellspacing="0">
	      <tr>
		<td Valign="top">
		################
		#block writeLeftSideBar
		
		
		#end block writeLeftSideBar
		################
	    
		</td>
		<td Valign="top">
		########################
		#block writeMainContentsCell
		#end block 
		########################
		</td>	    
	      </tr>
	    </table>

	    $spacer(1,200)
	    #end block writeMainTblContents
	    ######################
	    
#cache id='bottomOfPage'      

	    </td>
	    <td width="1" bgcolor="$mainTbl.innerBorder.color">$spacer</td>
	    <td width=$mainTbl.frame.width bgcolor="$mainTbl.frame.color">$spacer</td>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	    <td width=$mainTbl.frame.width bgcolor="$mainTbl.frame.color">$spacer</td>
	    <td width="900" bgcolor="$mainTbl.innerBorder.color">$spacer</td>
	    <td width=$mainTbl.frame.width bgcolor="$mainTbl.frame.color">$spacer</td>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	  </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	    <td width="900" bgcolor="$mainTbl.frame.color">$spacer(1,25)</td> 
	    <td width="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	  </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td width="1" height="1" bgcolor="$mainTbl.outerBorder.color">$spacer</td>
	  </tr>
        </table>
    </td>
  </tr>
</table>

#####################
#block writeFooter
<div class="copyrightFooter" align="center">
Copyright &copy; $currentYr $siteCopyrightName. All rights reserved.
</div>
<BR>
<div class="copyrightFooter" align="center">Hosted on<BR>
<a href="http://sourceforge.net"><img src="http://sourceforge.net/sflogo.php?group_id=28961&type=1" 
alt="SourceForge Home" height="31" width="88" border="0" /></a>
</div>
<BR>
<BR>
<BR>
#end block 
#####################
#end cache