#from Cheetah.Templates.SkeletonPage import SkeletonPage
#extends SkeletonPage
##################################################################################
#def navDivider
$spacer(35)|$spacer(35)
#end def

#attribute Python = '<A HREF="http://www.python.org">Python</A>'

##################################################################################

##################################################################################
#settings python

title = "Cheetah - The Python-Powered Template Engine"
siteDomainName = "cheetahtemplate.sourceforge.net"
siteCopyrightName= "The Cheetah Development Team"

bodyTagAttribs = {"bgcolor": "black",
                  "text":"#000033", #333333
                  }

navBar = {"bgcolor":"#3366CC", #EBEBEB #E0E0E0
          }

locationBar = {"bgcolor":"#3366CC", #EBEBEB #E0E0E0
               "frameColor":"#CCCCCC",
              }

mainTbl = {"width":"90%",
           "align":"center",
           "contentsBgColor":"white",
           "outerFrameColor":"#6699FF", #FFC850 #BDD4F1
           "innerFrameColor":"#3366CC", #0059B2
           "innerFrameWidth":8,
           }

insetBoxes = {"width":170,
              "frameColor":"#DDDDDD", #000033
              "titleFrameColor":"black", #000033
              "bgcolor":"#FAFAFA",
              }


_sanSerifFonts = """helvetica, arial, "lucida sans", sans-serif"""

stylesheets = {
  "H1.mainText": {"margin":"7px 2px",
                  "font-size":"small",
                  "font-weight":"bold",
                  "font-family": _sanSerifFonts,
                  },
  "P, .mainText": {"margin-left":"10px"},
  
  ".navBarContainer": {"padding": "4px 0px", "color":"white"},
  ".navBar, A.navBar:link, A.navBar:visited": {"font-size":"small",
                                               "font-weight":"bold",
                                               "color":"white",
                                               "text-decoration":"none",
                                               "font-family": _sanSerifFonts,
                                               },
  "A.navBar:hover, A.navBar:active": {"text-decoration":"underline"},
  
  ".locationBarContainer": {"padding": "2px 10px"},
  ".locationBar, A.locationBar:link, A.locationBar:visited": {"font-size":"x-small",
                                                              "color":"#666666",
                                                              "text-decoration":"none",
                                                              "font-family": _sanSerifFonts,
                                                              },
  "A.locationBar:hover, A.locationBar:active": {"text-decoration":"underline"},

  ".copyrightFooter": {"color":"white", "font-size":"9pt"},

  ".insetBoxTitleContainer":{"padding": "2px 5px",
                             "color":"white",
                             "font-weight":"bold",
                             },
  ".insetBoxTitle":{"color":"white",
                    "font-size":"x-small",
                    "font-weight":"bold",
                    "text-decoration":"none",
                    "font-family": _sanSerifFonts,
                    },
  ".insetBoxContainer":{"padding": "2px 2px 2px 5px"},
  ".insetBox":{"font-size":"x-small",
               "font-family": _sanSerifFonts,
               },
  "H1.insetBox":{"margin": "5px 5px",
                 "padding": "0px",
                 "font-size":"x-small",
                 "font-weight":"bold",
                 "font-family": _sanSerifFonts
                 },
               
  "P.insetBox":{"margin": "2px 5px 7px 10px",
                "padding": "0px",
                "font-family": _sanSerifFonts
                },
  "A.insetBox:link, A.insetBox:visited":{"font-size":"x-small",
                                         "text-decoration":"none",
                                         },
  "A.insetBox:hover, A.insetBox:active": {"text-decoration":"underline"},
  
  ".listItems": {"margin-bottom":"200px"},
  }
  
stylesheetsOrder = ["H1.mainText",
                     "P, .mainText",
                     ".navBarContainer",
                     ".navBar, A.navBar:link, A.navBar:visited",
                     "A.navBar:hover, A.navBar:active",
                     ".locationBarContainer",
                     ".locationBar, A.locationBar:link, A.locationBar:visited",
                     "A.locationBar:hover, A.locationBar:active",
                     ".copyrightFooter",
                     ".insetBoxTitleContainer",
                     ".insetBoxTitle",
                     ".insetBoxContainer",
                     ".insetBox",
                     "H1.insetBox",
                     "P.insetBox",
                     "A.insetBox:link, A.insetBox:visited",
                     "A.insetBox:hover, A.insetBox:active",
                     ".listItems",
                     ]

#end settings
##################################################################################

#####################
#block writeHeader
                    
#end block 
#####################


<TABLE ALIGN=$mainTbl.align BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=$mainTbl.width>
  <TR>
    <TD>
    #####################
    #block writeMainTblOuterHeader
    <DIV ALIGN="center"><IMG SRC="cheetah-face-black-medium.jpg" 
    ALT="">$spacer(35)<IMG SRC="banner_text.gif" 
    ALT="Cheetah: The Python-Powered Template Engine"></DIV>
    #end block
    #####################
    </TD>
  </TR>
  <TR>
    <TD WIDTH=1 HEIGHT=1 bgcolor="$mainTbl.outerFrameColor">$spacer</TD>
    ## top line of the mainTbl frame
  </TR>
</TABLE>


<TABLE ALIGN=$mainTbl.align BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=$mainTbl.width>
  <TR>
    <TD WIDTH=1 bgcolor="$mainTbl.outerFrameColor">$spacer</TD>
    <TD WIDTH=900> ## force to full width in Netscape
    #####################
    #block writeMainTblInnerHeader
	
    ##############
    #block writeNavBar
    <TABLE WIDTH=100% BGCOLOR="$navBar.bgcolor" BORDER=0 CELLPADDING=0 CELLSPACING=0>
      <TR>
	<TD>
	    <DIV ALIGN="center" CLASS="navBarContainer">
            <A CLASS="navBar" HREF="index">Home</A>$navDivider()
	    <A CLASS="navBar" HREF="learn">Learn</A>$navDivider()
	    <A CLASS="navBar" HREF="download">Download</A>$navDivider()
	    <A CLASS="navBar" HREF="contribute">Contribute</A>
	    </DIV>
	</TD>
      </TR>
    </TABLE>
    #end block writeNavBar
    ##############

    #end block writeMainTblInnerHeader
    #####################
    </TD>
    <TD WIDTH="1" bgcolor="$mainTbl.outerFrameColor">$spacer</TD>
  </TR>
</TABLE>

<TABLE ALIGN=$mainTbl.align BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=$mainTbl.width>
  <TR>
    <TD WIDTH=1 BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
    <TD WIDTH=$mainTbl.innerFrameWidth bgcolor="$mainTbl.innerFrameColor">$spacer</TD>
    <TD WIDTH=900 HEIGHT=1 BGCOLOR="black">$spacer(100)</TD> ## force to full width in Netscape
    <TD WIDTH=$mainTbl.innerFrameWidth bgcolor="$mainTbl.innerFrameColor">$spacer</TD>
    <TD WIDTH="1" BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
  </TR>
</TABLE>


## MainTbl - contents ##

<TABLE ALIGN=$mainTbl.align VALIGN="top" BORDER=0 CELLPADDING=0
CELLSPACING=0 WIDTH=$mainTbl.width>
  <TR>
    <TD WIDTH=1 BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
    <TD WIDTH=$mainTbl.innerFrameWidth bgcolor="$mainTbl.innerFrameColor">$spacer</TD>
    <TD WIDTH=1 BGCOLOR="black">$spacer</TD>
    
    <TD BGCOLOR="$mainTbl.contentsBgColor">
    
    ###################
    #block writeLocationBar
    <TABLE WIDTH=100% BGCOLOR="#EBEBEB" BORDER=0 CELLPADDING=0 CELLSPACING=0>
      <TR>
	<TD>
	    <DIV CLASS="locationBarContainer">
            ###################
            #block writeLocationBarContents
            <A CLASS="locationBar" HREF="index">Home</A>&nbsp;&gt;&nbsp; 
	    <A CLASS="locationBar" HREF="download">Download</A>
            #end block
            ###################
	    </DIV>
	</TD>
      </TR>
      <TR>
	<TD HEIGHT=1 BGCOLOR="$locationBar.frameColor">$spacer</TD>
      </TR>
    </TABLE>
    
    #end block writeLocationBar
    ###################

    
    
    ######################
    #block writeMainTblContents

    $spacer(1,25)
    
    <TABLE VALIGN="top" WIDTH=100% BORDER=0 CELLPADDING=10 CELLSPACING=0>
      <TR>
        <TD VALIGN="top">
	    ################
	    #block writeLeftSideBar

	    ##<DIV ALIGN="center"><IMG SRC="cheetah-face_medium.jpg" ALT="" BORDER=3></DIV>
	    ##<BR>
           
	    #end block writeLeftSideBar
	    ################
	    
        </TD>
        <TD VALIGN="top">
	    ########################
	    #block writeMainContentsCell
	    #end block 
	    ########################
        </TD>	    
      </TR>
    </TABLE>

    $spacer(1,200)
    #end block writeMainTblContents
    ######################    
    </TD>
    
    <TD WIDTH=1 BGCOLOR="black">$spacer</TD>
    <TD WIDTH=$mainTbl.innerFrameWidth BGCOLOR="$mainTbl.innerFrameColor">$spacer</TD>
    <TD WIDTH="1" BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
  </TR>
</TABLE>


## MainTbl - closure ##
<TABLE ALIGN=$mainTbl.align BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=$mainTbl.width>
  <TR>
    <TD WIDTH=1 BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
    <TD WIDTH=$mainTbl.innerFrameWidth bgcolor="$mainTbl.innerFrameColor">$spacer</TD>
    <TD WIDTH=900 BGCOLOR="black">$spacer(100)</TD> ## force to full width in Netscape
    <TD WIDTH=$mainTbl.innerFrameWidth bgcolor="$mainTbl.innerFrameColor">$spacer</TD>
    <TD WIDTH="1" BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
  </TR>
</TABLE>

<TABLE ALIGN=$mainTbl.align BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=$mainTbl.width>
  <TR>
    <TD WIDTH=1 BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
    <TD WIDTH=900 BGCOLOR="$mainTbl.innerFrameColor">$spacer(1,25)</TD> ## force to full width in Netscape
    <TD WIDTH="1" BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
  </TR>
</TABLE>

<TABLE ALIGN=$mainTbl.align BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=$mainTbl.width>
  <TR>
    <TD WIDTH=1 HEIGHT=1 BGCOLOR="$mainTbl.outerFrameColor">$spacer</TD>
  </TR>
  <TR>
    <TD>
	#####################
	#block writeMainTblOuterFooter
	<DIV CLASS="copyrightFooter">
        Copyright &copy; $currentYr() $siteCopyrightName. All rights reserved.
        </DIV>
        <BR>

	<DIV CLASS="copyrightFooter" ALIGN="center">Hosted on<BR>
	<a href=http://sourceforge.net><img
	src=http://sourceforge.net/sflogo.php?group_id=28961&type=1" 
	alt="SourceForge Home" height=31 width=88 border=0></a>
	</DIV>
	
	#end block 
	#####################
    </TD>
  </TR>
</TABLE>


#####################
#block writeFooter
<BR>
<BR>
<BR>
#end block 
#####################
