#extend WebwareSiteTemplate

##============================================================================##
#data

title = "Webware - The Python-Powered Internet Platform - Communicate"

#end data
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine locationBarContents
            <A CLASS="locationBar" HREF="index.py">Home</A>&nbsp;&gt;&nbsp; 
	    <A CLASS="locationBar" HREF="communicate.py">Communicate</A>
#end redefine locationBarContents
## from WebwareSiteTemplate
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine mainContentsCell
This is the "communicate" page, and it\'s blank for now!

#end redefine mainContentsCell
## from WebwareSiteTemplate
##============================================================================##
