#extend WebwareSiteTemplate

##============================================================================##
#data

title = "Webware - The Python-Powered Internet Platform - Contribute"

#end data
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine locationBarContents
            <A CLASS="locationBar" HREF="index.py">Home</A>&nbsp;&gt;&nbsp; 
	    <A CLASS="locationBar" HREF="contribute.py">Contribute</A>
#end redefine locationBarContents
## from WebwareSiteTemplate
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine mainContentsCell
This is the "contribute" page, and it\'s blank for now!

#end redefine mainContentsCell
## from WebwareSiteTemplate
##============================================================================##
