#extend WebwareSiteTemplate

##============================================================================##
#data

title = "Webware - The Python-Powered Internet Platform - Learn"
#end data
#data
def testFunc():
    return 1234

#end data
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine locationBarContents
            <A CLASS="locationBar" HREF="index.py">Home</A>&nbsp;&gt;&nbsp; 
	    <A CLASS="locationBar" HREF="learn.py">Learn Webware</A>
#end redefine locationBarContents
## from WebwareSiteTemplate
##============================================================================##


##============================================================================##
## from WebwareSiteTemplate
#redefine mainContentsCell
This is the "Learn Webware" page, and it\'s blank for now!
<BR>Testing $testFunc
#end redefine mainContentsCell
## from WebwareSiteTemplate
##============================================================================##
